<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- Load css -->
<link href="/static/c3/c3.css" rel="stylesheet" type="text/css">
<link href="/static/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<!-- Get emjoi support -->
<script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twemoji/1.3.2/twemoji.min.js"></script>
<!-- Load jquery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
</head>

<body>
<!-- Load d3.js and c3.js -->
<script src="/static/d3/d3.min.js" charset="utf-8"></script>
<script src="/static/c3/c3.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
	<ul class="nav navbar-nav">
	  <a href="../" class="navbar-brand">FastFoodSent</a>
	  <li><a href='google.com'>About me</a>
	  <li><a href='google.com'>Analysis</a>
	</ul>
    </div>
  </div>
</nav>
<h2 class="col-md-12">Fast Food Twitter Sentiment</h2>
<p class="col-md-12">The chart below displays the sentiment index of a given fast food restaurant
over the past 24 hours.  This index is calculated as the ratio of positive english language tweets
to the total number of english language tweets collected from the previous hour.</p>
<p class="col-md-12">Selecting any data point on the chart will display a selection of positive and
negative tweets from the 10 minutes prior to the selected value.</p>
</script>
<div class="col-md-12">
<div id="chart" style="padding-right:1cm;"></div>
</div>
<div class="col-md-6" id="bad"></div>
<div class="col-md-6" id="good"></div>
<script>
{% autoescape false %}
var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}

var mc_times = {{ times | tojson | safe}}
var mc_avgs = {{ avgs | tojson | safe }}
var st_times = {{ st_times | tojson | safe }}
var st_avgs = {{ st_avgs | tojson | safe }}
var ch_times = {{ ch_times | tojson | safe }}
var ch_avgs = {{ ch_avgs | tojson | safe }}
var ta_times = {{ ta_times | tojson | safe }}
var ta_avgs = {{ ta_avgs | tojson | safe }}
var ph_times = {{ ph_times | tojson | safe }}
var ph_avgs = {{ ph_avgs | tojson | safe }}
var kfc_times = {{ kfc_times | tojson | safe }}
var kfc_avgs = {{ kfc_avgs | tojson | safe }}


var chart = c3.generate({
    bindto: '#chart',
    padding: {
	top: 10,
	bottom: 10,
	left: 50,
	right: 5
    },
    data: {
	xs: {
	    "McDonald's": 'mc_times',
	    "Starbucks": 'st_times',
//	    "Chipotle": 'ch_times',
	    "Pizza Hut": 'ph_times',
	    "Taco Bell": 'ta_times',
	    "KFC": 'kfc_times',
            },
	columns: [
		['mc_times'].concat(mc_times),
		["McDonald's"].concat(mc_avgs),
		['st_times'].concat(st_times),
		['Starbucks'].concat(st_avgs),
//		['ch_times'].concat(ch_times),
//		['Chipotle'].concat(ch_avgs),
		['ph_times'].concat(ph_times),
		['Pizza Hut'].concat(ph_avgs),
		['ta_times'].concat(ta_times),
		['Taco Bell'].concat(ta_avgs),
		['kfc_times'].concat(kfc_times),
		['KFC'].concat(kfc_avgs)
        ],
	hide: [ 'Pizza Hut', 'Taco Bell', 'KFC'],
	selection: {
	    enabled: true,
	    multiple: false
	},
	onselected: function (d) {
	   $.getJSON($SCRIPT_ROOT + '/_get_tweets', {
	   	rest: d.name,
	        ts: Date.parse(d.x) / 1000
	   }, function(data) {
	      var bad = data['bad']
	      var good = data['good']
	      var bad_list = '<h3>Negative Tweets</h3><span style="color:blue;"> Total Negative: ' +
				String(data['num_bad']) + '</span>'
	      var good_list = '<h3>Positive Tweets</h3><span style="color:blue;"> Total Positive: ' +
				String(data['num_good']) + '</span>'
	      for (i = 0; i < bad.length; i++) {
		  bad_list = bad_list + "<li class='col-md-12' style='word-wrap:break-word;'>" + 
		  String(twemoji.parse(JSON.parse('"' + bad[i] + '"'))) + "</li>"
	      }
	      $("#bad").html('<ul>' + bad_list + '</ul>');
	      for (i = 0; i < good.length; i++) {
		  good_list = good_list + "<li class='col-md-12' style='word-wrap:break-word;'>" + 
		  String(twemoji.parse(JSON.parse('"' + good[i] + '"'))) + "</li>"
	      }
	      $("#good").html('<ul>' + good_list + '</ul>');
	   });
	   return false;
	},
	onunselected: function (d) {
	      $('#good ul').empty();
	      $('#bad ul').empty();
	},
	colors: {
	   "McDonald's": '#FF4747',
	   "Starbucks": '#005C00',
//	   "Chipotle": '#993333',
	   "Pizza Hut": '#FF9900',
	   "Taco Bell": '#005CE6',
	   "KFC": '#5C0099'
	}
    },
    point: {
	show: false
    },
    tooltip: {
//	format: {
//	  title: function (x) { return Date(x) } 
//	},
	grouped: false
    },
    axis: {
	x: {
	   type: 'timeseries',
	   tick: {
		format: '%I:%M %p \n %m/%d',
		fit: false
	   },
	   min: mc_times[0],
	   max: mc_times[mc_times.length - 1]
	},
	y: {
	   label: {
	        text: "Tweet Sentiment Index",
		position: "outer-middle"
	   },
	   tick: {
		format: d3.format(".02f")
	   }
	}
    }
});

{% endautoescape %}
</script>
</body>
</html>
